@font-face {
 font-family: "batmfa";
 src: url("./diebel.ttf") format("ttf"),
      url("./diebel.woff") format("woff");
}
@font-face {   
 font-family: "code2000";
 src: url("./CODE2000.ttf") format("ttf"),
      url("./CODE2000.woff") format("woff");
}

html {
	background-color: rgb(17, 17, 17);
	height: 100%;
	width: 100%;
    min-width: 1600px;
    min-height: 900px;
	box-sizing: border-box;
	/*border: 20px groove rgb(138, 138, 138);
	border-style: groove ridge ridge groove;*/
    font-family: "code2000";
}

a {
	text-decoration: none;
}


.pageContainer {
	position: relative;
	height: 100%;
	width: 100%;
}

.leftContainer {
	position: relative;
	width:45%;
	height:100%;
	float:left;
}

.information {
	position: relative;
	top:10px;
	left:10px;
	height:55%;
	width:100%;
    border: 4px solid transparent;
    border-radius: 16px;
    background: linear-gradient(to top left, rgb(53, 148, 74), rgb(44, 141, 133));
    background-clip: padding-box;
    padding: 10px;
    text-align:center;
}

.information::before {
    position: absolute;
    top: -4px; bottom: -4px;
    left: -4px; right: -4px;
    background: linear-gradient(to top left, rgb(0, 247, 54), rgb(0, 255, 234));
    content: '';
    z-index: -1;
    border-radius: 16px;
}

.information::after {
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top left, rgb(0, 247, 54), rgb(0, 255, 234));
    content: '';
    z-index: -1;
    border-radius: 16px;
    filter:blur(12px);
}

.information p {
	position: relative;
	margin-top:0px;
	color:rgb(245, 245, 245);;
	text-align:center;
	font-size:20px;
}

.information strong {
	font-size:28px;
	font-family: "batmfa";
}

.information a {
	display: inline-block;
    padding-top: 4%;
	margin-left: auto;
	margin-right: auto;
	padding-left: 5%; 
    padding-right: 5%;
    height: 150px;
}

.information a p {
    padding-top:5px;
}

.information img {
    height: 120px;
    transition: all 0.3s ease-in-out 0.3s;
}

.information img:hover {
    height: 130px;
    transition: all 0.3s ease-in-out;
}


.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
    z-index: 50;
  }
  .overlay:target {
    visibility: visible;
    opacity: 1;
  }
.popup {
    margin-top: 10%;
    margin-right: auto;
    margin-left: auto;
    padding: 20px;
    background: #fff;
    border-radius: 30px;
    width: 40%;
    min-width: 650px;
    background-color: rgba(245, 245, 245, 1);
    box-shadow: 0px 0px 30px 3px rgb(139, 139, 139);
    position: relative;
    transition: all 0.5s ease-in-out;
  }
  
  .popup h2 {
    margin-top: 0;
    color: #333;
    font-family: "batmfa";
  }
  .popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
  }
  .popup .close:hover {
    color: #d83006;
  }
  .popup .content {
    max-height: 40%;
    overflow: auto;
  }
  .popup a {
      color: rgb(17, 17, 17);
  }








.social {
	position: relative;
	top:5%;
	left:10px;
	height:30%;
	width:100%;
    border: 4px solid transparent;
    border-radius: 16px;
    background: linear-gradient(to top left, rgb(80, 40, 145), rgb(150, 42, 42));
    background-clip: padding-box;
    padding: 10px;
    text-align:center;
}

.social::before {
    position: absolute;
    top: -4px; bottom: -4px;
    left: -4px; right: -4px;
    background: linear-gradient(to top left, rgb(98, 0, 255), rgb(255, 0, 0));
    content: '';
    z-index: -1;
    border-radius: 16px;
}

.social::after {
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top left, rgb(98, 0, 255), rgb(255, 0, 0));
    content: '';
    z-index: -1;
    border-radius: 16px;
    filter:blur(12px);
}

.social p {
	position: relative;
	color:rgb(245, 245, 245);
	text-align:center;
	font-size:20px;
}

.social strong {
	font-size:28px;
	font-family: "batmfa";
}

.social a {
	display: inline-block;
    margin-top: 2%;
	margin-left: auto;
	margin-right: auto;
	padding-left: 5%; 
    padding-right: 5%;
}

.social a p {
    padding-top:5px;
}

.social img {
    height: 120px;
    transition: all 0.4s ease-in-out;
}

.social img:hover {
    height: 130px;
    transition: all 0.4s ease-in-out 0.2s;
}







.portfolio {
	position: relative;
	float:right;
	top:7%;
	right:10px;
	height:80%;
	width:48%;
    border: 4px solid transparent;
    border-radius: 16px;
    background: linear-gradient(to top, rgb(153, 115, 34), rgb(124, 141, 31));
    background-clip: padding-box;
    padding: 10px;
    text-align: center;
}

.portfolio::before {
    position: absolute;
    top: -4px; bottom: -4px;
    left: -4px; right: -4px;
    background: linear-gradient(to top, rgb(255, 174, 0), rgb(217, 255, 0));
    content: '';
    z-index: -1;
    border-radius: 16px;
}

.portfolio::after {
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, rgb(255, 174, 0), rgb(217, 255, 0));
    content: '';
    z-index: -1;
    border-radius: 16px;
    filter:blur(12px);
}

.portfolio p {
	position: relative;
	margin-top:0px;
	color:rgb(245, 245, 245);
	text-align:center;
	font-size:20px;
}

.portfolio strong {
	font-size:28px;
	font-family: "batmfa";
}

.portfolio a {
	display: inline-block;
    margin-top: 4%;
	margin-left: auto;
	margin-right: auto;
	padding-left: 5%; 
    padding-right: 5%;
}

.portfolio .scroll {
	height: 90%;
	width: 100%;
	overflow-y: auto;
    overflow-x: hidden;
}

.portfolio img {
    width: 800px;
    transition: all 0.3s ease-in-out;
}

.portfolio img:hover {
    width: 805px;
    box-shadow: 0 0 20px rgb(0 0 0 / 60%);
    transition: all 0.3s ease-in-out;
}


.spacingText {
    position: relative;
}

.containerBar {
    margin-bottom: 5px;
    margin-top: 5px;
    width: 180%;
    height: 20px;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    border: solid black 2px;
    text-align: center;
    box-shadow: 0px 0px 4px 1px rgb(139, 139, 139);
}

.progressBar {
    border-radius: 8px 0 0 8px;
    height: 20px;
}

.colorSquare {
    position: absolute;
    left: -15px;
    content: "";
    vertical-align: middle;
    margin-top: 5px;
    width: 10px;
    height: 10px;
    box-shadow: -2px 1px 2px 1px rgb(139, 139, 139);
    border-left: solid 2px rgba(0, 0, 0, 0.5);
    border-bottom: solid 2px rgba(0, 0, 0, 0.5);
}

.floatRight {
    position:relative;
    float: right;
    width: 50%;
}

.floatLeft {
    position: relative;
	float:left;
    width: 50%;
}

.floatCenter {
    position: relative;
    top: 10px;
}

.floatRight td {
    width: 47%;
}

.floatLeft td {
    width: 53%;
}

table {
    height: 20%;
}

.spacingTable {
    position: relative;
    left: 20px;
}

.note {
    position: relative;
    top: -19px;
}

@media all and (max-width: 1200px){

    
    html {
        min-width: unset;
        min-height: unset;
    }
    
    .leftContainer {
        position: relative;
        width:100%;
        height:unset;
        float:unset;
    }
    
    .information {
        left: 0;
        height:unset;
        width:90%;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 25px;
    }

    .information p {
        font-size:16px;
    }

    .information a {
        height: 80px;
    }

    .information img {
        height: 60;
    }
    
    .information img:hover {
        height: 65px;
    }


    .social {
        position: relative;
        left:unset;
        height:unset;
        top: 30px;
        width:90%;
        margin-left: auto;
        margin-right: auto;
    }

    .social p {
        font-size:14px;
    }
    
    .social strong {
        font-size:28px;
    }
    
    .social img {
        height: 50px;
        transition: all 0.4s ease-in-out;
    }
    
    .social img:hover {
        height: 45px;
        transition: all 0.4s ease-in-out 0.2s;
    }


    .portfolio {
        position: relative;
        float:unset !important;
        top:50px;
        right:unset;
        height:unset;
        width:90%;
        margin-left: auto;
        margin-right: auto;
        padding: 10px;
        text-align: center;
        margin-bottom: 50px !important;
    }

    .portfolio .scroll {
        height: unset;
        width: 100%;
    }

    .portfolio img {
        width: 90%;
    }
    
    .portfolio img:hover {
        width: 93%;
    }

    .portfolio p {
        padding-top: 5px;
        font-size:16px;
    }

    .popup {
        width: 80%;
        min-width: unset;
        top:40%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        z-index: 3;
    }
    
    .popup h2 {
        margin-top: 0;
        font-size: 20px;
    }

    .popup .close {
        top: -5px;
        right: -5px;
        font-size: 24px;
        background-color: rgb(252, 157, 157);
        border-radius: 16px;
        padding: 1px 7px 0 7px;
        z-index: 2;
    }

    .popup .close:hover {
        color: #333;
        background-color: rgb(255, 100, 100);
    }

    .popup .close::after {
        position: absolute;
        content: "";
        height: 100%;
        width: 100%;
        left: 0;
        top:0;
        box-shadow: -1px 1px 10px 1px rgb(204, 122, 122);
        border-radius: 16px;
    }

    .popup .content {
        max-height: 60%;
        width: 100%;
        overflow-y: auto;
        font-size: 16px;
    }

    .popup a {
        color: rgb(17, 17, 17);
    }


    .containerBar {
        margin-bottom: 5px;
        margin-top: 5px;
        width: 45vw;
        height: 20px;
        background-color: rgba(0, 0, 0, 0.2);
        border-radius: 10px;
        border: solid black 2px;
        text-align: center;
        box-shadow: 0px 0px 4px 1px rgb(139, 139, 139);
    }
      
    .floatRight {
        position:relative;
        float: unset;
        width: 50%;
        top:30px;
    }

    .floatLeft {
        position: relative;
        float:unset;
        width: 50%;
    }

    .floatCenter {
        position: relative;
        top: 10px;
    }

    .floatRight td {
        width: 50%;
    }

    .floatLeft td {
        width: 50%;
    }

    .spacingMobileBottom {
        position: relative;
        content: "";
        height: 20px !important;
    }

}